code {
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    white-space: break-spaces !important;
    word-break: break-word !important;
}
blockquote {
    word-wrap: anywhere !important;
    overflow-wrap: break-word !important;
    white-space: break-spaces !important;
    word-break: break-all !important;
}
.vuepress-logo {
    max-width: 33vw !important;
    margin: 3.6rem auto 0 auto !important;
    display: flex;
}